<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aytal Popov\Source\Repos\LibraryManagementSystems\LibraryManagement_Group2_Project\LibraryManagement_Group2_Project\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

